/*
@font-face {
    -fx-font-family: "Prompt";
    src: url("../fonts/Prompt-Light.ttf");
}

@font-face {
    -fx-font-family: "Prompt";
    src: url("../fonts/Prompt-Regular.ttf");
}

@font-face {
    -fx-font-family: "Prompt";
    src: url("../fonts/Prompt-Medium.ttf");
}

@font-face {
    -fx-font-family: "Prompt";
    src: url("../fonts/Prompt-SemiBold.ttf");
}

@font-face {
    -fx-font-family: "Prompt";
    src: url("../fonts/Prompt-Bold.ttf");
}
*/

/*
* {
    -fx-font-family: "Prompt";
}
*/
